h1 {
    font-family: sans-serif;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.game h1 {
  text-align: center;
}

.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

#game-canvas {
  border: 5px solid black;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
}

.footer a {
  float: left;
  display: block;
  margin: 20px 20px 20px 0;
}
